@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3021 State Rd 590 <br />
    Clearwater, FL 33759<br />
    <abbr title="Phone">P:</abbr>
    815.566.6272
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gorkemtolan@gmail.com">gorkemtolan@gmail.com</a><br />
</address>